body > div {
    text-align: center;
    margin: 0 auto;
}
img {
    display: block;
    margin: 0 auto 16px;
}
#search input[type="text"] {
    width: 288px;
    margin-right: 4px;
}
#search div {
    padding: 8px 0;
}
#search div a {
    display: inline-block;
    margin: 0 6px;
}
#info {
    width: 600px;
    margin-top: 8px;
    text-align: left;
}
#results {
    margin-top: 8px;
}
#results table {
    width: 1152px;
    border: 1px solid #000;
    border-collapse: collapse;
    margin: 16px auto;
    table-layout: fixed;
}
#results table th,
#results table td {
    padding: 4px;
    border: 1px solid #000;
}
#results table th:last-child {
    width: 144px;
}
#results table td:nth-child(-n+2) {
    text-align: left;
}
#results table td:nth-child(2) {
    word-break: break-all;
}