body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#page {
    overflow-y: auto;
    flex-grow: 1;
    padding: 8px;
}
#warning {
    color: #f00;
    text-align: center;
    padding: 4px 0;
    border-top: 1px solid #000;
}
#footer {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #000;
    padding: 2px 0 4px;
}
#info {
    flex-grow: 1;
    margin: 0 4px;
}
#info > div {
    padding: 2px;
}
#url span,
#source > a:first-of-type {
    font-weight: bold;
}
#source,
#links a {
    display: inline-block;
}
#url > div {
    display: inline-block;
    vertical-align: bottom;
    width: 8px;
    height: 8px;
    border: 2px solid #000;
    border-radius: 8px;
    margin: 0 0 3px 7px;
    padding: 0 !important;
    animation: spin 1s linear infinite;
}
#url > div > div {
    display: inline-block;
    margin: 0 0 4px -2px;
    width: 6px;
    height: 6px;
    background-color: #fff;
}
#source {
    margin-right: 3px;
}
#source a:not(:first-of-type) {
    padding-left: 8px;
}
#links a {
    padding-right: 8px;
}
#picture,
#dice {
    flex: 0 0 72px;
}
#picture a,
#dice a {
    display: inline-block;
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
}
#picture a {
    height: 36px;
}
#dice a {
    height: 48px;
}
#picture img,
#dice img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

#error {
    padding: 8px 12px;
}
#error b {
    font-size: 36px;
}
#message {
    display: block;
    margin: 8px 0 12px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Embedded page styling */
#page > pre {
    white-space: pre-wrap;
    margin: 0;
}
#page > div > :first-child:is(h1, h2, h3, h4, h5, h6, p, pre),
#page > div > a:first-child > :is(h1, h2, h3, h4, h5, h6, p, pre):first-child {
    margin-top: 0;
}
#page > div img:not([src]) {
    display: inline-block;
    overflow: hidden;
}
#page > div img:not([src])[alt=""] {
    display: none;
}
#page > div a img[border] {
    border-color: #00f;
}
#page > div a img:not([border]):is([width], [height]) {
    border: 2px solid #00f;
}
#page > div dl > dl {
    margin: 0 0 0 40px;
}